SNOWFLAKE_ACCOUNT=xxxxx-xxxxx
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=MARKET_INSIGHTS_PIPELINE
SNOWFLAKE_SCHEMA=RAW

TICKERS=AAPL,MSFT,GOOGL,AMZN,NVDA
HISTORY_PERIOD=3y